---

import CardDemo from '@/components/solid/card';
import { Button } from '@/components/ui/button';
import Layout from '@layouts/root.astro';
//TODO: page for testing form moment
---

<Layout>
  <div class="flex flex-col items-center justify-center h-full gap-4">
    <Button>
      Click me
    </Button>
    <CardDemo client:load />
  </div>
</Layout>

